section {
    padding: 22px;
    padding-top: 36px;
}

/* about me */

#about_me {
    margin: 0;
}

.article_img {
    margin-top: 22px;
}

blockquote {
    border-left-color: $main_highlighted_color;
}

h4 {
    display: inline;
    font-weight: 600;
}

ul.btn-group {
    padding-left: 6px;
}

.list_btn {
    margin: 6px;
    background-color: $main_highlighted_color;
    color: $main_dark_color;
    &:hover {
        background-color: $main_dark_color;  
    }
    &:hover a {
        color: $main_highlighted_color;
    }
    & > a {
        color: black;
        text-decoration: none; 
    }
}

/* gallery */

#gallery {
    background-color: $main_dark_color;
    color: #fff;
}

/* portflio */

/* contact */

#contact {
    background-color: $main_dark_color;
    color: #fff;
    text-align: center;
    
    h4 {
        font-weight: 400;
        letter-spacing: 2px;
    }
    
    i {
        color: #fff;
        font-size: 30px;
        padding-right: 10px;
        
        &:hover {
            color: $main_highlighted_color;
        }
    }
}




